a {
    color: #3498db;
    text-decoration: none;
    background-color: tomato;
    margin: 50px;
    /* width: 200px; */
    text-align: center;
    display: block;
    /* justify-content: center;
    align-items: center; */
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 20px 40px;
    border: 5px solid #9b0d0d;
    position: relative;
    overflow: hidden;
}

a:hover {
    color: black;
    background-color: #3498db;
    border: 10px solid #9b0d0d;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
}

a::before {
    content: "";
    background-color: rgb(245, 32, 32);
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 100%;
}

a::after {
    content: "";
    background-color: rgb(103, 30, 30);
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 100%;
}

a:hover::before {
    background-color: rgb(245, 32, 32);
    right: 0%;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
}

a:hover::after {
    background-color: rgb(103, 30, 30);
    left: 0%;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
}

.tomato {
    display: inline-block;
    background-color: #9b0d0d;
    margin: 70px;
    padding: 20px 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.tomato:hover {
    background-color: #3498db;
    color: white;
    outline: 10px solid #9b0d0d;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    border: #927d7d solid 5px;
}

.tomato::after {
    content: "";
    background-color: rgb(103, 30, 30);
    height: 50%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
}

.tomato::before {
    content: "";
    background-color: rgb(245, 32, 32);
    height: 50%;
    width: 100%;
    position: absolute;
    top: -50%;
    left: 0;
}

.tomato:hover::after {
    background-color: rgb(103, 30, 30);
    top: 50%;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
}

.tomato:hover::before {
    background-color: rgb(245, 32, 32);
    top: 0%;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
}

.skyblue {
    display: block;
    background-color: #3498db;
    margin: 70px;
    padding: 50px;
    text-align: center;
    width: 200px;
    border: 5px solid #3498db;
    height: 200px;
    line-height: 200px;
    border: 5px solid #9b0d0d;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.skyblue:hover {
    background-color: #927d7d;
    color: white;
    outline: 10px solid #3498db;
    border: 10px solid #9b0d0d;
    outline-offset: -5px;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
}
